extends ../shared/template

block content
    .row
      .small-6.small-centered.columns
        h1= title
    .row
      .small-10.small-centered.columns
        h4 Node Travels is an online air bnb site that lets you trade places for the night or week or month your choice!!!
        h3 One person's place is another person's Sweet PLACE!
